# Project Three Notebook - Boston City Employee Earnings

For your final notebook, feel free to duplicate this notebook and edit as needed. 


## Load Some Stuff

This is where we load libraires and the like so we can do what we need. If you get an error saying a module is not loaded, open a new terminal/cmd line and try running: `pip install [module name]`.

In [19]:
import os
try:
    inputFunc = raw_input
except NameError:
    inputFunc = input

import pandas as pd
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import numpy as np
 
import seaborn as sns
from statsmodels.formula.api import ols

from sklearn import linear_model
from sklearn import metrics

from sklearn.linear_model import LogisticRegression
from patsy import dmatrices

import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt

import random



# Custom functions

def evaluate(pred, labels_test):
    acc = accuracy_score(pred, labels_test)
    print ("Accuracey: %s"%acc)
    tn, fp, fn, tp = confusion_matrix(labels_test, pred).ravel()

    recall = tp / (tp + fp)
    percision = tp / (tp + fn)
    f1 = (2 / ((1/recall)+(1/percision)))

    print ("")
    print ("True Negatives: %s"%tn)
    print ("False Positives: %s"%fp)
    print ("False Negatives: %s"%fn)
    print ("True Positives: %s"%tp)
    print ("Recall: %s"%recall)
    print ("Precision: %s"%percision)
    print ("F1 Score: %s"%f1)

def plot_bound(Z_val,data,col1,col2,binary):
    # Z-val equals "Yes" value. E.g., "Y" or "1". 
    # data equals df
    # col1 and col2 defines which colums to use from data
    # Plot binary decision boundary. 
    # For this, we will assign a color to each
    # point in the mesh [x_min, m_max]x[y_min, y_max].
    
    x_min = float(data.iloc[:,[col1]].min())-float(data.iloc[:,[col1]].min())*0.10 
    x_max = float(data.iloc[:,[col1]].max()+float(data.iloc[:,[col1]].min())*0.10)
    y_min = 0.0; 
    y_max = float(training.iloc[:,[col2]].max())+float(training.iloc[:,[col2]].max())*0.10
    h_x = (x_max-x_min)/100  # step size in the mesh
    h_y = (y_max-y_min)/100  # step size in the mesh
    xx, yy = np.meshgrid(np.arange(x_min, x_max, h_x), np.arange(y_min, y_max, h_y))
    if binary == 1:
        Z = clf.predict(np.c_[xx.ravel(), yy.ravel()])   
        Z = np.where(Z=="Y",1,0)
    else:
        Z = clf.predict_proba(np.c_[xx.ravel(), yy.ravel()])[:, 1]
    # Put the result into a color plot
    Z = Z.reshape(xx.shape)
    plt.xlim(xx.min(), xx.max())
    plt.ylim(yy.min(), yy.max())
    plt.pcolormesh(xx, yy, Z)
    plt.show()

## Data Cleaning

Here we load the data we collected and get it all ready to feed to our statistical model(s). That is, we are trying to make a table with one **target** column and one or more **features**. Here I'm loading Boston City Employee Earnings.csv from: https://data.boston.gov/dataset/employee-earnings-report/resource/8368bd3d-3633-4927-8355-2a2f9811ab4f Note: you can find information on the data elements at this link.

In [20]:
# Load and peek at your data. Change the file name as needed. 
raw_data_df = pd.read_csv('Boston City Employee Earning.csv', parse_dates=[0]) 
raw_data_df.head()

,_id,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,1,"Abadi,Kidani A",Assessing Department,Property Officer,"46,291.98 $",NaN,300.00 $,NaN,NaN,NaN,NaN,"46,591.98 $",2118
1,2,"Abasciano,Joseph",Boston Police Department,Police Officer,"6,933.66 $",NaN,850.00 $,205.92 $,"74,331.86 $",NaN,"15,258.44 $","97,579.88 $",2132
2,3,"Abban,Christopher John",Boston Fire Department,Fire Fighter,"103,442.22 $",NaN,550.00 $,"15,884.53 $",NaN,"4,746.50 $",NaN,"124,623.25 $",2132
3,4,"Abbasi,Sophia",Green Academy,Manager (C) (non-ac),"18,249.83 $",NaN,NaN,NaN,NaN,NaN,NaN,"18,249.83 $",2148
4,5,"Abbate-Vaughn,Jorgelina",BPS Ellis Elementary,Teacher,"84,410.28 $",NaN,"1,250.00 $",NaN,NaN,NaN,NaN,"85,660.28 $",2481

In [21]:
# You can explore unique entires by stating the column and using .unique() like this:
print(raw_data_df["REGULAR"].unique())
print(raw_data_df["TITLE"].unique())

['46,291.98  $' '6,933.66  $' '103,442.22  $' '18,249.83  $' '84,410.28  $'
 '41,449.16  $' '80,413.68  $' '99,264.10  $' '5,000.90  $' '621.90  $'
 '105,500.20  $' '93,142.59  $' '32,463.56  $' '1,181.60  $' '99,122.67  $'
 '106,200.12  $' '81,717.08  $' '34,086.59  $' '90,398.08  $'
 '46,791.44  $' '19,810.35  $' '28,430.75  $' '103,584.41  $'
 '63,583.32  $' '75,237.12  $' '107,708.96  $' '29,827.82  $'
 '80,222.48  $' '92,939.81  $' '41,373.70  $' '96,162.04  $' '85,849.67  $'
 '33,210.10  $' '41,001.62  $' '73,019.08  $' '103,667.51  $'
 '104,006.36  $' '70,166.42  $' '44,137.52  $' '28,843.68  $'
 '92,764.66  $' '47,596.49  $' '82,383.86  $' '20,731.94  $' '3,367.35  $'
 '11,347.95  $' '107,620.26  $' '62,250.74  $' '84,662.55  $'
 '13,805.67  $' nan '110,462.57  $' '85,190.32  $' '33,224.39  $'
 '33,539.38  $' '99,361.13  $' '67,741.12  $' '48,205.38  $' '85,102.68  $'
 '47,670.12  $' '94,085.44  $' '8,219.01  $' '106,728.92  $' '34,174.75  $'
 '92,510.08  $' '46,791.47  $' '56,710.58  $' '80,587.13  $' '63,594.28  $'
 '88,101.14  $' '13,367.10  $' '106,600.00  $' '104,025.38  $'
 '2,040.70  $' '103,720.30  $' '22,879.39  $' '29,182.88  $' '8,533.85  $'
 '102,843.01  $' '55,469.45  $' '8,582.22  $' '47,885.56  $' '65,577.61  $'
 '93,926.13  $' '96,066.96  $' '94,859.96  $' '104,656.61  $'
 '106,443.61  $' '48,377.10  $' '8,742.00  $' '64,612.90  $' '42,866.21  $'
 '99,454.17  $' '91,321.33  $' '53,297.39  $' '62,030.59  $' '63,463.81  $'
 '7,871.30  $' '102,345.18  $' '59,008.36  $' '13,383.79  $' '849.09  $'
 '70,301.61  $' '33,535.66  $' '9,738.78  $' '49,626.79  $' '3,168.36  $'
 '93,507.70  $' '5,744.36  $' '23,799.79  $' '31,300.88  $' '22,188.70  $'
 '63,404.09  $' '1,332.00  $' '87,843.91  $' '31,351.09  $' '107,800.16  $'
 '52,360.62  $' '25,129.72  $' '89,302.06  $' '51,962.39  $' '53,707.94  $'
 '107,853.98  $' '36,339.54  $' '101,460.32  $' '7,812.00  $'
 '97,440.97  $' '6,949.36  $' '52,611.80  $' '102,103.70  $' '92,526.60  $'
 '110,120.25  $' '87,970.79  $' '81,527.55  $' '33,000.00  $'
 '103,907.16  $' '26,266.29  $' '35,333.66  $' '48,524.13  $'
 '66,901.30  $' '35,867.79  $' '83,039.57  $' '74,226.87  $' '30,577.33  $'
 '106,372.69  $' '72,883.60  $' '43,715.71  $' '107,392.34  $'
 '73,767.86  $' '14,677.94  $' '125,615.03  $' '13,244.45  $'
 '109,356.70  $' '66,397.81  $' '84,868.80  $' '105,001.18  $'
 '3,254.86  $' '20,520.00  $' '62,755.68  $' '42,041.98  $' '53,517.92  $'
 '103,162.54  $' '90,268.83  $' '17,969.51  $' '1,568.84  $' '46,199.76  $'
 '108,437.68  $' '48,081.02  $' '594.00  $' '1,741.32  $' '31,567.60  $'
 '20,494.37  $' '29,462.84  $' '27,331.42  $' '1,677.98  $' '874.61  $'
 '85,501.03  $' '42,129.64  $' '45,442.82  $' '96,023.77  $' '90,417.60  $'
 '33,972.58  $' '108,685.10  $' '110,098.56  $' '76,769.67  $'
 '13,302.58  $' '84,138.25  $' '35,481.84  $' '102,806.10  $' '141.52  $'
 '50,152.92  $' '25,144.92  $' '106,423.44  $' '73,605.50  $'
 '25,656.39  $' '28,503.70  $' '106,553.98  $' '65,920.15  $'
 '26,748.31  $' '57,697.38  $' '78,322.82  $' '100,516.74  $' '9,261.36  $'
 '11,069.13  $' '72,529.35  $' '33,492.64  $' '98,564.18  $' '16,952.45  $'
 '97,440.93  $' '34.88  $' '76,912.33  $' '113,212.42  $' '23,033.09  $'
 '62,700.28  $' '65,105.68  $' '95,459.29  $' '63,525.78  $' '4,917.68  $'
 '65,781.13  $' '110,338.76  $' '42,127.91  $' '40,548.50  $'
 '38,230.33  $' '36,663.16  $' '3,181.90  $' '87,147.82  $' '18,061.28  $'
 '67,827.59  $' '101,138.48  $' '8,540.76  $' '58,735.57  $'
 '105,078.68  $' '39,417.31  $' '99,957.64  $' '75,370.25  $'
 '69,755.28  $' '87,427.18  $' '8,820.00  $' '48,981.92  $' '35,151.27  $'
 '51,769.87  $' '114,037.31  $' '51,570.66  $' '18,508.61  $' '2,909.91  $'
 '66,211.28  $' '112,005.12  $' '94,018.49  $' '100,456.74  $'
 '1,512.00  $' '32,991.06  $' '54,443.25  $' '58,264.10  $' '88,750.57  $'
 '485.00  $' '54,478.23  $' '76,468.31  $' '120,344.24  $' '60,648.79  $'
 '93,760.16  $' '75,370.22  $' '84,629.23  $' '90,684.62  $' '6,152.50  $'
 '48,242.55  $' '7,335.00  $' '4,040.58  $' '4,348.47  $' '2,813.92  $'
 '52,611.81  $' '104,914.31  $' '55,714.96  $' '67,004.49  $'
 '41,832.36  $' '52,397.70  $' '46,791.45  $' '94,190.21  $' '69,304.12  $'
 '52,303.77  $' '6,691.90  $' '47,975.38  $' '12,659.90  $' '81,173.82  $'
 '37,850.78  $' '101,490.16  $' '82,153.68  $' '21,143.36  $'
 '26,992.89  $' '35,965.28  $' '43,978.32  $' '104,477.46  $'
 '13,960.85  $' '18,218.79  $' '8,830.98  $' '24,804.20  $' '45,395.79  $'
 '18,169.99  $' '44,479.50  $' '115,570.33  $' '5,624.94  $' '57,944.25  $'
 '59,896.89  $' '6,088.00  $' '45,642.85  $' '64,342.88  $' '48,630.92  $'
 '24,560.12  $' '72,745.80  $' '964.51  $' '130,533.00  $' '104,676.68  $'
 '29,715.87  $' '19,730.24  $' '106,228.42  $' '73,684.33  $'
 '132,223.46  $' '80.87  $' '64,445.81  $' '75,902.76  $' '34,163.43  $'
 '104,556.47  $' '81,913.00  $' '93,648.75  $' '117,066.94  $'
 '19,654.82  $' '25,712.83  $' '22,252.38  $' '45,441.90  $' '53,240.37  $'
 '30,600.00  $' '94,987.94  $' '10,308.08  $' '19,727.67  $' '15,472.94  $'
 '13,934.20  $' '70,973.22  $' '56,511.53  $' '84,977.87  $' '97,128.64  $'
 '34,278.15  $' '51,087.84  $' '19,656.27  $' '111,800.81  $'
 '47,225.01  $' '35,473.43  $' '36,132.57  $' '29,156.21  $' '80,627.78  $'
 '127,939.99  $' '11,459.41  $' '28,819.08  $' '26,413.54  $'
 '37,495.88  $' '1,500.00  $' '92,334.80  $' '21,288.14  $' '52,324.20  $'
 '29,382.15  $' '94,942.54  $' '10,125.88  $' '48,275.23  $' '4,602.50  $'
 '22,355.31  $' '9,490.91  $' '12,404.94  $' '55,483.04  $' '94,958.10  $'
 '61,815.49  $' '8,973.57  $' '89,658.92  $' '82,783.92  $' '97,440.96  $'
 '43,457.40  $' '7,891.22  $' '77,500.80  $' '79,993.23  $' '43,585.40  $'
 '63,869.09  $' '104,112.01  $' '9,890.09  $' '14,305.30  $' '9,872.04  $'
 '5,783.73  $' '3,109.12  $' '103,276.16  $' '7,646.02  $' '22,786.95  $'
 '52,109.81  $' '39,028.30  $' '54,302.07  $' '64,880.17  $' '10,319.27  $'
 '21,026.91  $' '2,037.77  $' '67,233.89  $' '81,132.26  $' '93,172.33  $'
 '14,863.50  $' '12,375.09  $' '11,694.04  $' '25.87  $' '108,408.85  $'
 '7,386.80  $' '32,524.61  $' '15,168.00  $' '160,378.87  $' '60,335.31  $'
 '69,734.93  $' '48,340.12  $' '95,117.19  $' '5,140.55  $' '96,859.77  $'
 '38,838.75  $' '63,851.25  $' '105,171.99  $' '89,373.42  $'
 '102,295.96  $' '47,165.72  $' '52,344.19  $' '113,212.35  $'
 '99,611.06  $' '54,302.57  $' '89,913.44  $' '105,889.98  $'
 '57,069.37  $' '94,248.38  $' '44,319.73  $' '53,338.44  $' '40,856.57  $'
 '55,855.32  $' '649.14  $' '13,018.71  $' '15,571.32  $' '37,820.52  $'
 '63,928.32  $' '25,817.89  $' '44,439.99  $' '100,820.06  $'
 '21,802.87  $' '111,520.20  $' '77,552.32  $' '27,439.03  $'
 '41,898.26  $' '55,806.75  $' '70,135.48  $' '32,065.10  $' '98,625.96  $'
 '2,804.40  $' '75,156.14  $' '12,887.99  $' '24,703.68  $' '112,132.01  $'
 '66,260.04  $' '31,359.94  $' '62,301.40  $' '95,895.25  $' '89,675.23  $'
 '87,774.66  $' '1,273.65  $' '143,223.99  $' '100,769.24  $'
 '81,136.68  $' '94,111.55  $' '59,908.21  $' '69,447.43  $' '96,754.72  $'
 '230.00  $' '22,160.96  $' '50,958.74  $' '78,349.50  $' '93,736.81  $'
 '87,497.30  $' '41,573.62  $' '21,067.64  $' '48,119.80  $' '8,561.48  $'
 '38,717.09  $' '9,616.47  $' '41,988.17  $' '92,793.07  $' '33,748.81  $'
 '49,529.22  $' '4,576.94  $' '51,421.52  $' '99,491.38  $' '70,241.02  $'
 '28,531.40  $' '110,752.72  $' '29,713.72  $' '870.00  $' '34,744.05  $'
 '127,081.24  $' '129,923.54  $' '41,257.59  $' '76,040.69  $'
 '27,331.21  $' '91,998.88  $' '51,875.73  $' '96,674.15  $' '26,403.26  $'
 '12,520.01  $' '71,920.34  $' '29,754.40  $' '103,645.10  $'
 '59,081.61  $' '52,770.41  $' '74,150.54  $' '92,371.28  $' '88,127.53  $'
 '92,056.12  $' '86,874.52  $' '5,022.50  $' '101,170.31  $' '57,178.96  $'
 '30,843.76  $' '66,032.43  $' '96,450.54  $' '48,668.54  $' '9,057.01  $'
 '46,924.64  $' '38,987.75  $' '84,950.25  $' '54,000.48  $' '86,577.57  $'
 '50,583.56  $' '108,986.61  $' '70,284.37  $' '89,311.04  $'
 '33,602.79  $' '6,145.14  $' '61,236.72  $' '68,214.74  $' '40,679.79  $'
 '18,300.00  $' '94,265.85  $' '84,480.00  $' '73,293.38  $' '32,048.64  $'
 '23,648.25  $' '98,996.92  $' '70,057.08  $' '67,813.70  $' '41,406.10  $'
 '50,242.26  $' '13,005.14  $' '6,131.13  $' '87,586.83  $' '34,038.45  $'
 '94,860.04  $' '19,472.58  $' '21,882.69  $' '99,777.18  $' '34,194.99  $'
 '16,134.57  $' '52,611.91  $' '23,528.34  $' '3,524.10  $' '47,506.86  $'
 '42,617.90  $' '7,547.20  $' '3,662.50  $' '64,492.54  $' '12,555.20  $'
 '16,305.65  $' '2,400.00  $' '15,421.62  $' '5,309.58  $' '101,150.83  $'
 '97,440.94  $' '11,752.44  $' '100,877.98  $' '109,239.87  $'
 '107,759.15  $' '84,445.08  $' '2,516.31  $' '31,032.84  $' '76,929.58  $'
 '78,834.83  $' '80,683.88  $' '82,011.08  $' '97,875.23  $' '8,738.24  $'
 '8,556.12  $' '104,872.77  $' '28,713.76  $' '66,996.00  $' '67,639.21  $'
 '96,246.94  $' '18,612.34  $' '48,105.13  $' '93,704.09  $' '35,803.33  $'
 '54,055.59  $' '35,470.82  $' '78,185.80  $' '3,866.08  $' '34,281.23  $'
 '29,841.42  $' '92,779.42  $' '130,000.00  $' '106,269.97  $'
 '96,861.96  $' '104,744.90  $' '37,978.65  $' '97,261.84  $'
 '93,843.58  $' '414.60  $' '34,278.14  $' '51,833.57  $' '6,030.23  $'
 '94,256.69  $' '64,291.12  $' '94,826.80  $' '93,843.16  $' '91,627.51  $'
 '53,908.67  $' '53,701.79  $' '90,622.41  $' '5,900.00  $' '7,213.98  $'
 '97,444.19  $' '36,510.14  $' '28,422.44  $' '43,191.59  $' '80,526.88  $'
 '21,950.19  $' '24,625.27  $' '54,446.47  $' '4,710.54  $' '101,529.53  $'
 '94,460.08  $' '102,145.30  $' '113,881.26  $' '105,913.22  $'
 '47,606.03  $' '81,718.69  $' '30,668.24  $' '79,046.97  $' '48,522.38  $'
 '103,167.83  $' '1,656.00  $' '12,312.02  $' '29,106.05  $' '69,744.91  $'
 '93,148.56  $' '25,999.08  $' '71,240.63  $' '114,223.46  $'
 '62,642.29  $' '120,158.13  $' '103,542.81  $' '70,543.86  $'
 '52,534.01  $' '103,379.42  $' '32,825.39  $' '107,079.13  $'
 '102,775.20  $' '70,313.76  $' '72,996.71  $' '88,977.73  $'
 '20,781.54  $' '76,575.97  $' '46,791.46  $' '56,789.53  $' '57,296.21  $'
 '52,667.43  $' '73,964.73  $' '81,252.60  $' '73,768.70  $' '98,462.00  $'
 '78,265.33  $' '37,284.93  $' '46,851.52  $' '19,727.79  $' '45,275.33  $'
 '14,092.53  $' '20,981.31  $' '81,181.37  $' '13,996.33  $' '13,695.49  $'
 '19,126.76  $' '35,963.99  $' '5,379.82  $' '84,080.55  $' '42,529.76  $'
 '49,036.03  $' '414.45  $' '6,425.19  $' '7,806.61  $' '107,693.03  $'
 '83,918.19  $' '33,010.68  $' '19,007.44  $' '78,905.41  $'
 '107,443.81  $' '112,825.14  $' '4,202.13  $' '5,943.69  $' '51,442.96  $'
 '106,878.90  $' '99,284.11  $' '89,513.22  $' '50,321.50  $'
 '93,565.95  $' '106,273.70  $' '30,013.37  $' '41,010.43  $' '6,541.08  $'
 '108,860.96  $' '107,914.65  $' '88,244.07  $' '87,576.47  $'
 '8,787.90  $' '69,285.50  $' '1,132.14  $' '19,482.97  $' '93,305.24  $'
 '39,085.06  $' '20,261.11  $' '157,093.96  $' '26,203.47  $'
 '78,137.54  $' '30,867.33  $' '67,771.68  $' '25,221.05  $' '97,414.17  $'
 '48,236.32  $' '33,825.11  $' '87,654.45  $' '85,029.96  $' '2,752.03  $'
 '57,449.36  $' '111,078.20  $' '49,366.60  $' '62,736.94  $'
 '89,857.20  $' '64,605.92  $' '68,878.10  $' '89,377.87  $' '84,343.19  $'
 '4,327.02  $' '15,092.13  $' '38,418.64  $' '53,329.58  $' '95,850.41  $'
 '82,720.66  $' '79,583.99  $' '52,590.14  $' '109,000.20  $'
 '19,333.27  $' '22,028.10  $' '62,985.70  $' '35,308.02  $' '93,938.14  $'
 '48,735.26  $' '52,204.27  $' '67,031.28  $' '7,697.74  $' '100,234.83  $'
 '8,499.30  $' '13,575.70  $' '103,532.13  $' '71,235.76  $'
 '106,742.88  $' '54,994.91  $' '75,291.39  $' '42,614.38  $' '9,631.68  $'
 '33,999.97  $' '102,638.47  $' '10,802.32  $' '111,072.90  $'
 '13,801.85  $' '156,355.46  $' '75,899.19  $' '101,492.36  $'
 '70,214.30  $' '46,418.97  $' '82,697.59  $' '54,871.98  $' '86,118.88  $'
 '3,044.00  $' '10,559.80  $' '328.93  $' '39,999.98  $' '7,434.00  $'
 '97,746.82  $' '22,288.84  $' '62,086.12  $' '30,154.68  $' '1,981.22  $'
 '83,704.42  $' '99,269.15  $' '11,110.40  $' '9,423.20  $' '89,239.95  $'
 '2,073.00  $' '13,255.20  $' '32,675.15  $' '5,931.65  $' '36,056.06  $'
 '106,861.80  $' '31,754.45  $' '120,158.22  $' '86,007.02  $'
 '5,844.90  $' '85,813.54  $' '67,627.91  $' '6,996.62  $' '2,843.56  $'
 '88,238.71  $' '49,701.13  $' '8,755.00  $' '23,491.72  $' '4,231.38  $'
 '10,861.61  $' '110,370.00  $' '41,278.02  $' '104,656.86  $'
 '13,042.36  $' '58,680.01  $' '49,177.84  $' '114,980.90  $'
 '42,915.38  $' '108,610.60  $' '70,223.18  $' '89,513.08  $'
 '77,580.80  $' '80,005.98  $' '97,440.98  $' '80,724.16  $' '3,418.38  $'
 '94,985.68  $' '102,138.40  $' '54,851.90  $' '105,667.48  $'
 '64,652.06  $' '25,065.07  $' '854.61  $' '38,454.39  $' '16,854.22  $'
 '22,697.64  $' '76,319.16  $' '3,554.37  $' '44,436.45  $' '37,112.49  $'
 '9,858.68  $' '34,054.22  $' '50,990.22  $' '9,748.80  $' '45,705.44  $'
 '104,965.12  $' '566.08  $' '101,517.54  $' '57,046.33  $' '33,366.68  $'
 '36,661.54  $' '54,094.01  $' '8,555.45  $' '38,881.93  $' '13,269.50  $'
 '9,324.65  $' '96,603.87  $' '42,019.37  $' '81,822.36  $' '12,287.51  $'
 '14,767.74  $' '99,661.93  $' '62,293.48  $' '5,456.62  $' '46,464.57  $'
 '40,611.90  $' '99,604.12  $' '47,840.45  $' '38,552.91  $' '4,405.19  $'
 '87,590.38  $' '14,686.43  $' '1,230.43  $' '50,858.59  $' '76,420.25  $'
 '80,779.84  $' '5,479.09  $' '120,158.17  $' '40,110.13  $' '38,169.75  $'
 '86,069.76  $' '98,225.63  $' '52,214.24  $' '84,508.71  $' '50,498.50  $'
 '102,726.00  $' '31,006.58  $' '108,856.58  $' '108,754.94  $'
 '35,001.38  $' '98,573.28  $' '48,888.60  $' '60,171.54  $' '82,318.82  $'
 '116,108.98  $' '85,217.38  $' '11,816.23  $' '4,760.00  $' '66,933.32  $'
 '112,411.86  $' '78,467.49  $' '50,850.36  $' '27,042.20  $'
 '109,086.83  $' '22,829.59  $' '49,747.32  $']
['Property Officer' 'Police Officer' 'Fire Fighter' 'Manager (C) (non-ac)'
 'Teacher' 'Maint Mech (Carpenter)##' 'Lunch Hour Monitors'
 'Paraprofessional' 'Library Aide' 'Staff Asst (B)' 'Driver'
 'Police Clerk And Typist' 'Nurse' 'Community Field Coordinator'
 'Library Paraprofessional' 'Manager of Youth Services'
 'Chief Claims Investigator I' 'Sen Cust C/Nights' 'Cab Monitor'
 'Jr Cust/Nights' 'Hot Line Worker HE' 'School Traffic Supv'
 'Prin Admin Asst (Treas/Treas)' 'ABA Specialist'
 'Workers Comp Job Classificatn' 'School Psychologist(1)'
 'Cluster Substitute' 'Spec Library Asst I' 'Police Detective'
 'Sr Data Proc Sys Anl' 'Substitute Teacher HE' 'Prin Clerk'
 'SpEd Support Svcs Coordinator' 'Substitute Teacher' 'Coord-Manager (B)'
 'Youth Worker' 'Supvising Claims Agent (Asd)' 'Director (D) (non-ac)'
 'HMIS Coordinator' 'Jr Building Custodian' 'Police Offc Acad Instr 2$6'
 'Fire Captain Administration' 'Police Offc/Auto Invest 4$10'
 'Specialist (BTU)' 'Fire Fighter-AdvanceTechnician'
 'Mtr Eq Rpprs ClassIBPDFleetBFD' 'Employment Agreement'
 'Prin Clerk/School Sec 19' 'Part-Time Custodian' 'Standby Cab Monitor HE'
 'Hot Line Worker' 'Sr Research Analyst (Parks&Rec' 'Student Intern'
 'Prin Clerk/School Sec 21' 'Asst Assessor' 'Sum Sch - BTU Prof'
 'Admin Coordinator (Com Sch)' 'Head Clerk & Secretary' 'Police Sergeant'
 'Fire Fighter-Technician' 'ACC - Attorney'
 'Fire Fighter (InctComndSp) DFC' 'BostonMunicipalPoliceSergeant'
 'Computer Instructor' 'Coordinator (C)' 'Student Dev Counselor (1)'
 'Police Offc Comm Serv Offc 3$8' 'Principal Elementary' 'Drawtender##'
 'FF (FPD Special Hazards Insp)' 'Sen Cust C' 'Head Clerk' 'Admin Asst'
 'Police Sergeant (Det)' 'Cafeteria Manager14' 'Sub Teacher - Retiree'
 'Project Mngr III' 'Sen Clerk-School Secretary 15' 'Sr Traffic Engineer'
 'Jr Civil Eng' 'Dep Dir/Legal Advisor' 'Sr Civil Engineer'
 'Prin Admin Asst' 'Sr Data Proc Sys Anl (ASD/DPU)'
 'Social Worker/Coordinator' 'Chief Claims Investigator'
 'Part-Time Cafeteria Attendant' 'Surround Care Paraprofessional'
 'Laborer (Park)' 'Client Service Coordinator' 'Park Maint Foreprs##'
 'Program Mngr' 'Coord-Manager (C)' 'Spec Library Asst V'
 'Highway Maint Frprs (Pwd)##' 'FF(SOCBestTeam)-AdvTechnician'
 'Guidance Counselor(1)' 'Lifeguard II' 'Counselor (CC)' 'Grave Digger'
 'Sergeant-Bps Police' 'Summer Youth Worker' 'Director Of Instruction'
 'Asst Program Director (7)' 'Head Golf Professional'
 'Human Resources Manager' 'Security Offc (Prot Ser)' 'Coord'
 'Jr Custodian' 'Police Offc/Juvenile Offc 4$10'
 'Sen Clerk School Sec 766-15B' 'One to One Para'
 'Supn-Automotive Maint(Cfm)' 'Exec Asst (Parks & Rec)'
 'Motor Equip Oper & Pw Lbr' 'Operational Leader' 'Fire Lieutenant'
 'Dir-Operations' 'Chief of Staff' 'Secretary' 'Animal Room Attendant'
 'Part Time Service Specialist' 'Lead Satellite Attendant B'
 'Fire Lieutenant Administration' 'Manager 12'
 'SPED Coverage Paraprofessional' 'Senior Director (BASAS 12B)'
 'Analyst (C)' 'Parking Meter Supervisor' 'Specialist (BTU) non ac'
 'Head Account Clerk' 'Substitute Cafeteria Attendant' 'Fellow B'
 'Streetworkers' 'Data Librarian' 'Pr Admin Clerk 29'
 'Maint Mech (Painter-Bpd)' 'Hvy Mtr Equip Repairpr Class I'
 'Sr Budget Anl (Eld/Fiscal)' 'Hearings Employee' 'Laborer Seasonal  (PW)'
 'Fire Captain Admn-Advance Tech' 'Compliance Monitor' 'Building Manager'
 'Lifeguard I' 'Sr Project Mangr (PFD)' 'Asst Dir (Homeland Sec)'
 'Admin Secretary' 'Digital Repository Developer' 'Attendant'
 'Sr Parking Meter Supervisor I' 'Asst Prin Accountant' 'Cadet (Police)'
 'Construction Manager' 'Police Captain/DDC' 'Program Director (Basas 9A)'
 'Sr Admin Anl' 'Collection Development Manager' 'Program Supervisor'
 'First  Asst Drawtender##' 'Fire Captain-Technician' 'Headmaster'
 'Program Assistant I' 'Adults Librarian II'
 'Sr Highway Maint CrftsprsPwd##' 'Police Offc Harborboat 3$8' 'Exec Dir'
 'Officer-Bps Police' 'Interlibrary Loan Officer' 'Spec Library Asst II'
 'Health Inspector##' 'Police Offc/FgrPrt Ev Tch 4$10'
 'Hvy Mtr Equip Oper & P W Lbr' 'Board Member Appeals'
 'Human Resources Manager (BPL)' 'Coordinator 5' 'Technician (B)'
 'Asst Pool Manager' 'SpecAssttoChiefofHumanServices' 'Sr Programmer'
 'Service Representative' 'Site Supervisor' 'Coach (NonTPP)'
 'Sub Lunch Monitor' 'Swimming Instructor' 'Criminalist III'
 'Over-Time Stipend Other' 'Asst Dir' 'MtrEquipRpprClassIIBPDFleetBFD'
 'Summer Teaching Fellow' 'Sr Streetworker' 'Substitute Nurse'
 'Chief of Human Services' 'Asst Director (C)' 'Office Manager'
 'Prin Clerk (Vitals/Registry)' 'Sr Personnel Officer II'
 'Police Offc Mobile Offc 2$6' 'Assoc Civil Engineer' 'General Counsel'
 'Sen Prog Director (Basas 11B)' 'Sr Bldg Custodian'
 'Police Offc Ballistician 4$10' 'Prin Research Analyst'
 'Communic. EquipOp II 9II(SS)' 'Criminalist II' 'Exec  Asst  (CC)'
 'Sr Research Analyst (BRJP)' 'Highway Maint Inspector##'
 'Jr  Building Custodian' 'Summer BTU Para' 'Developer' 'Technician (C)'
 'Dep Supn (Bpd)' 'Head Buyer 33' 'Exec Sec (Parks & Recreation)'
 'Police Dispatcher' 'Professional Librarian III' 'Lieutenant'
 "BPS Worker's Comp Job Class" 'Archaeologist (Envrnmntl Dept)' 'Paralegal'
 'Athletic Director' 'Rotc Instructor' 'Pupil Adjustment Counselor(1)'
 'Fire Alarm Operator' 'City Councilor' 'Admin Asst (Cc)'
 'Nurse Case Manager' 'Prin Clerk & Typist' 'Receptionist/Secretary'
 'Park Keeper' 'Prin Dp Sys Anal-Dp' 'Dir of Food Initiative'
 'Prin Admin Asst (P&R)' 'Teller' 'Assoc Inspec Engineer (Fire)'
 'CommunEquipOp III, R-13 (CT)' 'Sr Library Asst'
 'Envrnmntl Health Inspector I' 'Supervisor Of Attendance'
 'Head Staff Assistant 28' 'Laborer Seasonal (Parks)' 'Sr Admin Asst'
 'Reader & Info Librarian II' 'Staff Asst (Pt)'
 'Construction Project Manager']

In [22]:
# You can explore rows with a specific value like so
raw_data_df[raw_data_df["TITLE"]=='Police Officer'].head() # remove .head() to see all entires

,_id,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
1,2,"Abasciano,Joseph",Boston Police Department,Police Officer,"6,933.66 $",NaN,850.00 $,205.92 $,"74,331.86 $",NaN,"15,258.44 $","97,579.88 $",2132
15,16,"Abdul-Aziz,Ramadani",Boston Police Department,Police Officer,"99,122.67 $",NaN,800.00 $,"25,411.32 $",NaN,"58,420.00 $",NaN,"183,753.99 $",2119
28,29,"Abrahamson,Patrick Olaf",Boston Police Department,Police Officer,"80,222.48 $",NaN,800.00 $,"4,804.80 $",NaN,"3,542.00 $",NaN,"89,369.28 $",2135
32,33,"Abreu,Cesar",Boston Police Department,Police Officer,"85,849.67 $",NaN,"6,680.12 $","50,193.20 $",NaN,"40,158.00 $",NaN,"182,880.99 $",2136
35,36,"Abreu,Moises J",Boston Police Department,Police Officer,"73,019.08 $",NaN,800.00 $,"7,710.63 $","1,621.31 $","39,882.00 $",NaN,"123,033.02 $",2136

In [23]:
# You can count the number of rows like so
print("Size of entire table: %s "%len(raw_data_df))
print("Size of entires matching filter: %s "%len(raw_data_df[raw_data_df["TITLE"]=='Police Officer']))

Size of entire table: 1000
Size of entires matching filter: 48

In [24]:
# You can invert a match by using the 'not equal' evaluation.
print("Size of entires matching filter: %s "%len(raw_data_df[raw_data_df["TITLE"]!='Police Officer']))
raw_data_df[raw_data_df["TITLE"]!='Police Officer'].head()

Size of entires matching filter: 952

,_id,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,1,"Abadi,Kidani A",Assessing Department,Property Officer,"46,291.98 $",NaN,300.00 $,NaN,NaN,NaN,NaN,"46,591.98 $",2118
2,3,"Abban,Christopher John",Boston Fire Department,Fire Fighter,"103,442.22 $",NaN,550.00 $,"15,884.53 $",NaN,"4,746.50 $",NaN,"124,623.25 $",2132
3,4,"Abbasi,Sophia",Green Academy,Manager (C) (non-ac),"18,249.83 $",NaN,NaN,NaN,NaN,NaN,NaN,"18,249.83 $",2148
4,5,"Abbate-Vaughn,Jorgelina",BPS Ellis Elementary,Teacher,"84,410.28 $",NaN,"1,250.00 $",NaN,NaN,NaN,NaN,"85,660.28 $",2481
5,6,"Abberton,James P",Public Works Department,Maint Mech (Carpenter)##,"41,449.16 $",NaN,81.00 $,"8,807.47 $",NaN,NaN,NaN,"50,337.63 $",2127

In [29]:
# You can make a new table from your filtered rows like so
processed_data_df = raw_data_df[raw_data_df["TITLE"]!='Police Officer']
processed_data_df = processed_data_df[processed_data_df["TOTAL EARNINGS"]!='The 80,222.48']
# Note how I filtered first on raw_data_df and then on processed_data_df

# Now let's remove all students
processed_data_df = processed_data_df[processed_data_df["OVERTIME"]!='4,804.80']

# So how many entires are there?
print("Size of entire table: %s "%len(processed_data_df))
# Let's peak at the table.
processed_data_df.head()

Size of entire table: 952

,_id,NAME,DEPARTMENT_NAME,TITLE,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN/EDUCATION INCENTIVE,TOTAL EARNINGS,POSTAL
0,1,"Abadi,Kidani A",Assessing Department,Property Officer,"46,291.98 $",NaN,300.00 $,NaN,NaN,NaN,NaN,"46,591.98 $",2118
2,3,"Abban,Christopher John",Boston Fire Department,Fire Fighter,"103,442.22 $",NaN,550.00 $,"15,884.53 $",NaN,"4,746.50 $",NaN,"124,623.25 $",2132
3,4,"Abbasi,Sophia",Green Academy,Manager (C) (non-ac),"18,249.83 $",NaN,NaN,NaN,NaN,NaN,NaN,"18,249.83 $",2148
4,5,"Abbate-Vaughn,Jorgelina",BPS Ellis Elementary,Teacher,"84,410.28 $",NaN,"1,250.00 $",NaN,NaN,NaN,NaN,"85,660.28 $",2481
5,6,"Abberton,James P",Public Works Department,Maint Mech (Carpenter)##,"41,449.16 $",NaN,81.00 $,"8,807.47 $",NaN,NaN,NaN,"50,337.63 $",2127

In [ ]:
# for the special case of when a calue is NaN, you can filter based on the value not being null (i.e., empty)
processed_data_df = processed_data_df[pd.notnull(processed_data_df["What.is.your.annual.household.income."])]
processed_data_df = processed_data_df[pd.notnull(processed_data_df["Age."])]
print("Size of entire table: %s "%len(processed_data_df)) # in the example data, this gets rid of a few rows
processed_data_df.head()

In [ ]:
# You can remove unwanted colums like so
# for a single column
processed_data_df = processed_data_df.drop('In.general..how.similar.are.you.to.other.people.you.know._2011', 1)
# for multiple columns
processed_data_df = processed_data_df.drop([
                                            'How.satisfied.are.you.with.Somerville.as.a.place.to.live.',
                                            'How.satisfied.are.you.with.your.neighborhood.'
                                           ], 1)
processed_data_df.head()

In [ ]:
# Alternativly, if you want to make a new table from a subset of columns, you can do so like this.
processed_data_df = processed_data_df[[
                                        'How.happy.do.you.feel.right.now.', 
                                        'How.satisfied.are.you.with.your.life.in.general.', 
                                        'What.is.your.annual.household.income.',
                                        'Age.'
                                     ]].copy()
processed_data_df.head()

In [ ]:
# You can rename columns like so.
processed_data_df = processed_data_df.rename(columns={
                                                        'How.happy.do.you.feel.right.now.': 'happy', 
                                                        'How.satisfied.are.you.with.your.life.in.general.': 'satisfied',
                                                        'What.is.your.annual.household.income.': 'income',
                                                        'Age.': 'age',
                                                     })
processed_data_df.head()

In [ ]:
# You can replace values in a column based on logic like so
# Note: I used the unique values found above to inform my logic.
# That is, I took the unique text lables and translated them into numbers.
# It's clear that different surveys had different buckets. So I probably 
# sould limit myself to years using the same metrics, but for our purposes
# I'm just going to run with a quick and dirty translation. 

processed_data_df.loc[processed_data_df['income'] == 'Less than $10,000', 'income'] = 5000 
processed_data_df.loc[processed_data_df['income'] == '10,000 - $19,999', 'income'] = 15000
processed_data_df.loc[processed_data_df['income'] == '$10,000 to $24,999', 'income'] = 17500
processed_data_df.loc[processed_data_df['income'] == '20,000 - $29,999', 'income'] = 25000
processed_data_df.loc[processed_data_df['income'] == '$25,000 to $49,999', 'income'] = 37500
processed_data_df.loc[processed_data_df['income'] == '30,000 - $39,999', 'income'] = 35000
processed_data_df.loc[processed_data_df['income'] == '40,000 - $49,999', 'income'] = 45000
processed_data_df.loc[processed_data_df['income'] == '50,000 - $59,999', 'income'] = 55000
processed_data_df.loc[processed_data_df['income'] == '$50,000 to $74,999', 'income'] = 62500
processed_data_df.loc[processed_data_df['income'] == '60,000 - $69,999', 'income'] = 65000
processed_data_df.loc[processed_data_df['income'] == '70,000 - $79,999', 'income'] = 75000
processed_data_df.loc[processed_data_df['income'] == '$75,000 to $99,999', 'income'] = 87500
processed_data_df.loc[processed_data_df['income'] == '80,000 - $89,999', 'income'] = 85000
processed_data_df.loc[processed_data_df['income'] == '90,000 - $99,999', 'income'] = 95000
processed_data_df.loc[processed_data_df['income'] == '100,000 and up', 'income'] = 100000
processed_data_df.loc[processed_data_df['income'] == '$100,000 to $149,999', 'income'] = 125000 
processed_data_df.loc[processed_data_df['income'] == '$150,000 or more', 'income'] = 150000

processed_data_df.loc[processed_data_df['age'] == '18-21', 'age'] = 24
processed_data_df.loc[processed_data_df['age'] == '18-24', 'age'] = 21
processed_data_df.loc[processed_data_df['age'] == '22-25', 'age'] = 23.5
processed_data_df.loc[processed_data_df['age'] == '25-34', 'age'] = 29.5
processed_data_df.loc[processed_data_df['age'] == '26-30', 'age'] = 28
processed_data_df.loc[processed_data_df['age'] == '31-40', 'age'] = 35.5
processed_data_df.loc[processed_data_df['age'] == '35-44', 'age'] = 39.5
processed_data_df.loc[processed_data_df['age'] == '41-50', 'age'] = 46.5
processed_data_df.loc[processed_data_df['age'] == '45-54', 'age'] = 48
processed_data_df.loc[processed_data_df['age'] == '51-60', 'age'] = 55.5
processed_data_df.loc[processed_data_df['age'] == '55-64', 'age'] = 58
processed_data_df.loc[processed_data_df['age'] == '61+', 'age'] = 61
processed_data_df.loc[processed_data_df['age'] == '65-74', 'age'] = 69.5
processed_data_df.loc[processed_data_df['age'] == '75 or older', 'age'] = 75
processed_data_df.head()

In [ ]:
# To make sure all of your columns are stored as numbers, use the pd.to_numeric method like so.
processed_data_df = processed_data_df.apply(pd.to_numeric, errors='coerce')
# errors='coerce' will set things that can't be converted to numbers to NaN
# so you'll want to drop these like so.
processed_data_df = processed_data_df.dropna()
processed_data_df.head()

In [ ]:
# You can add a columns like so.
processed_data_df["happy_Y_N"] = "N"
processed_data_df["satisfied_Y_N"] = "N"
processed_data_df.head()

In [ ]:
# And then you can customize these new coulmns using the same method as above. 
processed_data_df.loc[processed_data_df['happy'] >= 5, 'happy_Y_N'] = "Y"
processed_data_df.loc[processed_data_df['satisfied'] >= 5, 'satisfied_Y_N'] = "Y"
processed_data_df.head()

In [ ]:
# I'm now going to make a set of tables to be used in training some models
# The first set will be for linear regressions where the traget is numeric.
# Happiness
happy_lin_df = processed_data_df[[
                               'happy', 
                               'age', 
                               'income'
                               ]].copy()
happy_lin_df.head()

In [ ]:
# Satisfaction
sat_lin_df = processed_data_df[[
                               'satisfied', 
                               'age', 
                               'income'
                               ]].copy()
sat_lin_df.head()

In [ ]:
# The second set will be for classifiers where the target is a class.
# Happiness
happy_class_df = processed_data_df[[
                               'happy_Y_N', 
                               'age', 
                               'income'
                               ]].copy()
happy_class_df.head()

In [ ]:
# Satisfaction
sat_class_df = processed_data_df[[
                               'satisfied_Y_N', 
                               'age', 
                               'income'
                               ]].copy()
sat_class_df.head()

## Taining and Validation

Above I created four datasets worth exploring: 
- **`happy_lin_df`**. The data needed to access *happiness* along a continuous variable.
- **`sat_lin_df`**. The data needed to access *satisfaction* along a continuous variable.
- **`happy_class_df`**. The data needed to access *happiness* as a categorical variable.
- **`sat_class_df`**. The data needed to access *satisfaction* as a categorical variable.

Let's take them each in turn.

## happy_lin_df

In [ ]:
data = happy_lin_df

data = data[data["happy"]<=10]

holdout = data.sample(frac=0.05)
training = data.loc[~data.index.isin(holdout.index)]

In [ ]:
sns.lmplot(x="age", y="happy", data=training, x_estimator=np.mean, order=1)

In [ ]:
sns.lmplot(x="income", y="happy", data=training, x_estimator=np.mean, order=1)

In [ ]:
model = ols("happy ~ age + income", training).fit()
#model = ols("happy ~ age + income + np.power(age, 2) + np.power(income, 2)", training).fit()
model.summary()

In [ ]:
# Rerun with SciKitLearn because it's easy to check accuracy
features_train = training.drop("happy", axis=1).as_matrix(columns=None)
labels_train = training["happy"].as_matrix(columns=None)

features_test = holdout.drop("happy", axis=1).as_matrix(columns=None)
labels_test = holdout["happy"].as_matrix(columns=None)

lm = linear_model.LinearRegression()
clf = lm.fit(features_train, labels_train)
pred = clf.predict(features_test)
accuracy = metrics.r2_score(labels_test, pred)
print("R squared:",lm.score(features_train,labels_train))
print("Accuracy:",accuracy)

## sat_lin_df

In [ ]:
data = sat_lin_df

data = data[data["satisfied"]<=10]

holdout = data.sample(frac=0.05)
training = data.loc[~data.index.isin(holdout.index)]

In [ ]:
sns.lmplot(x="age", y="satisfied", data=training, x_estimator=np.mean, order=1)

In [ ]:
sns.lmplot(x="income", y="satisfied", data=training, x_estimator=np.mean, order=1)

In [ ]:
model = ols("satisfied ~ age + income", training).fit()
model.summary()

In [ ]:
# Rerun with SciKitLearn because it's easy to check accuracy

features_train = training.drop("satisfied", axis=1).as_matrix(columns=None)
labels_train = training["satisfied"].as_matrix(columns=None)

features_test = holdout.drop("satisfied", axis=1).as_matrix(columns=None)
labels_test = holdout["satisfied"].as_matrix(columns=None)

lm = linear_model.LinearRegression()
clf = lm.fit(features_train, labels_train)
pred = clf.predict(features_test)
accuracy = metrics.r2_score(labels_test, pred)
print("R squared:",lm.score(features_train,labels_train))
print("Accuracy:",accuracy)

## happy_class_df

In [ ]:
data = happy_class_df
holdout = data.sample(frac=0.05)
training = data.loc[~data.index.isin(holdout.index)]

# Define the target (y) and feature(s) (X)
features_train = training.drop("happy_Y_N", axis=1).as_matrix(columns=None)
labels_train = training["happy_Y_N"].as_matrix(columns=None)

features_test = holdout.drop("happy_Y_N", axis=1).as_matrix(columns=None)
labels_test = holdout["happy_Y_N"].as_matrix(columns=None)

# What percentage of the time is target Y?
print("Percentage of Ys: %s\n"%(len(data[data["happy_Y_N"]=="Y"])/len(data)))

#### initial visualization
feature_1_no = [features_test[ii][0] for ii in range(0, len(features_test)) if labels_test[ii]=="N"]
feature_2_no = [features_test[ii][1] for ii in range(0, len(features_test)) if labels_test[ii]=="N"]
feature_1_yes = [features_test[ii][0] for ii in range(0, len(features_test)) if labels_test[ii]=="Y"]
feature_2_yes = [features_test[ii][1] for ii in range(0, len(features_test)) if labels_test[ii]=="Y"]
plt.scatter(feature_1_yes, feature_2_yes, color = "g", label="Happy")
plt.scatter(feature_1_no, feature_2_no, color = "r", label="Unhappy")
plt.legend()
plt.xlabel("age")
plt.ylabel("income")
plt.show()

In [ ]:
# Logistic Regression
model = LogisticRegression(fit_intercept = False, C = 1e9)
clf = model.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("Logistic Regression")
evaluate(pred, labels_test)  
plot_bound("Y",holdout,1,2,0)


# Test some spot
x_test = 70
y_test = 160000
print("")
print(clf.predict([[x_test,y_test]])[0])
print(clf.predict_proba([[x_test,y_test]])[0][1])
print("")

from sklearn import tree
clf = tree.DecisionTreeClassifier(min_samples_split=40)
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("\nDecision Tree")
evaluate(pred, labels_test)
plot_bound("Y",holdout,1,2,0)



from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("Random Forest")
evaluate(pred, labels_test)  
plot_bound("Y",holdout,1,2,0)


from sklearn.svm import SVC
clf = SVC(kernel="rbf",probability=True)
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("SVM")
evaluate(pred, labels_test)  
#plot_bound("Y",holdout,1,2,0) # plot doesn't work with SVM

## sat_class_df

In [ ]:
data = sat_class_df
holdout = data.sample(frac=0.05)
training = data.loc[~data.index.isin(holdout.index)]

# Define the target (y) and feature(s) (X)
features_train = training.drop("satisfied_Y_N", axis=1).as_matrix(columns=None)
labels_train = training["satisfied_Y_N"].as_matrix(columns=None)

features_test = holdout.drop("satisfied_Y_N", axis=1).as_matrix(columns=None)
labels_test = holdout["satisfied_Y_N"].as_matrix(columns=None)

# What percentage of the time is target Y?
print("Percentage of Ys: %s\n"%(len(data[data["satisfied_Y_N"]=="Y"])/len(data)))

#### initial visualization
feature_1_no = [features_test[ii][0] for ii in range(0, len(features_test)) if labels_test[ii]=="N"]
feature_2_no = [features_test[ii][1] for ii in range(0, len(features_test)) if labels_test[ii]=="N"]
feature_1_yes = [features_test[ii][0] for ii in range(0, len(features_test)) if labels_test[ii]=="Y"]
feature_2_yes = [features_test[ii][1] for ii in range(0, len(features_test)) if labels_test[ii]=="Y"]
plt.scatter(feature_1_yes, feature_2_yes, color = "g", label="Happy")
plt.scatter(feature_1_no, feature_2_no, color = "r", label="Unhappy")
plt.legend()
plt.xlabel("age")
plt.ylabel("income")
plt.show()

In [ ]:
# Logistic Regression
model = LogisticRegression(fit_intercept = False, C = 1e9)
clf = model.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("Logistic Regression")
evaluate(pred, labels_test)  
plot_bound("Y",holdout,1,2,0)


# Test some spot
x_test = 70
y_test = 160000
print("")
print(clf.predict([[x_test,y_test]])[0])
print(clf.predict_proba([[x_test,y_test]])[0][1])
print("")

from sklearn import tree
clf = tree.DecisionTreeClassifier(min_samples_split=40)
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("\nDecision Tree")
evaluate(pred, labels_test)
plot_bound("Y",holdout,1,2,0)



from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("Random Forest")
evaluate(pred, labels_test)  
plot_bound("Y",holdout,1,2,0)


from sklearn.svm import SVC
clf = SVC(kernel="rbf",probability=True)
clf = clf.fit(features_train, labels_train)
pred = clf.predict(features_test)
print("SVM")
evaluate(pred, labels_test)  
#plot_bound("Y",holdout,1,2,0) # plot doesn't work with SVM